
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>{{ pageTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageTitle }}">
    <meta name="author" content="zpm">
    <link rel="canonical" href="{{ pageUrl }}"/>
    <link rel="publisher" href="http://www.zpm.me/"/>

    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:url" content="{{ pageUrl }}" />
    <!--meta property="og:image" content="https://graph.facebook.com/zach.maier/picture?type=large" /-->
    <meta property="og:site_name" content="zpm.me" />
    <meta property="og:description" content="{{ pageTitle }}" />

    <meta itemprop="name" content="zpm.me">
    <meta itemprop="description" content="{{ pageTitle }}">
    <!--meta itemprop="image" content="https://graph.facebook.com/zach.maier/picture?type=large"-->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/genericons.css" rel="stylesheet">
    <link href="/static/css/zpm.css" rel="stylesheet">

    {% block headcontent %}
    {% endblock %}

  </head>

  <body>

    <div class="container">
      <div class="span12">

        <div class="row zpm-header-row">
          <h1>zpm<span class="zpm-dim">.me</span></h1>
          <div class="zpm-social-links">
            <a class="genericon genericon-twitter" href="https://www.twitter.com/zpm" target="_blank"></a>
            <a class="genericon genericon-linkedin" href="https://www.linkedin.com/in/zpm" target="_blank"></a>
            <a class="genericon genericon-github" href="https://github.com/zpm" target="_blank"></a>
            <a class="genericon genericon-facebook-alt" href="https://www.facebook.com/zach.maier" target="_blank"></a>
            <a class="genericon genericon-image" href="http://www.instagram.com/zpm.gif/" target="_blank"></a>
          </div>
        </div>

        <div class="row">
          {% block bodycontent %}
          {% endblock %}
        </div>

      </div>

    </div>

  </body>

</html>
